<div class="container">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="example-container">

      <mat-form-field>
        <input matInput placeholder="Username (required)" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password (required)" placeholder="Password" formControlName="password">
      </mat-form-field>

      <button type='submit' [disabled]="!signinForm.valid" mat-raised-button color="primary" mat-button
        style="margin: 5% 0;">Sign In</button>
    </div>
  </form>
</div>